*{box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    padding:25px;
  }

  .row section {
    padding: 60px;
  }

  .row aside {
    margin-top: 60px;
    margin-left: 0%;
  }

  #formacion {
    padding-top: 0px;
  }

  /*para computadora*/
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  
 /* para celular */
[class*="col-"] {
    width: 100%;
  }
  
      /*para tablet */
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
  }
  
   /* para computadora: */
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  .encabezado {
    text-align: center;
    margin-top: 30px;
  }

  @media only screen and (min-width: 768px) {
    #alineacion{
    text-align:left;
    margin-top: 30px;
  }
  }

#perfil{
  width: 200px;
  margin-top: 30px;
  border-style: ridge;
  border-radius: 10px;
}
#fondo {
  background-image : url(../imagenes/44.png);
  background-clip:border-box;
}

    .progress-bar-green {
        background-color: rgb(8, 221, 17) !important;
      }

      .progress-bar-orange {
        background-color: rgb(226, 174, 31) !important;
      }

      .progress-bar-blue {
        background-color: rgb(43, 26, 189) !important;
      }
  
h1{
    font-family: 'Lora', serif;
    font-size: 4em;
    text-align: left;
}

hr {
	height: 6px;
	background: linear-gradient(
    to right,
    black 0%,    
    blue 25%,    
    gold 50%,     
    green 75%,   
    red 100%     
);
}

.redes-sociales img {
  border: 1px solid #b9aeae;
  border-radius: 45px;
  padding: 5px #eed4d4;
  width: 70px;
		}

    #boton-competencias{
      border: none;
      background-color: hsl(298, 28%, 81%);
      padding: 15px 70px 15px 70px;
      color: rgb(41, 40, 40);
      font-family: 'Lora', serif;
      font-family: 'Public Sans', bold 900;
      font-size: large;
      box-shadow: 0px 1px 0px hsl(310, 97%, 47%),
0px 2px 0px hsl(310,97%,45%),
0px 3px 0px hsl(310,97%,44%),
0px 4px 0px hsl(310,97%,43%),
0px 6px 0px hsl(310,97%,29%),
0px 7px 10px #000;
    }
    
    @media only screen and (max-width: 600px) {
      .margen2{
      margin-left: 70px;
      margin-right: 70px;
          }
      #boton-competencias{
        font-size:medium;
      }
    }

    @media only screen and (min-width:601px) and (max-width:992px) {
      .margen2{
      margin-left: 90px;
      margin-right: 90px;
          }
      #boton-competencias{
        font-size:medium;
      }
    }

    @media only screen and (min-width:993px) and (max-width:2210px) {
      .margen2{
      margin-left: 10px;
      margin-right: 30px;
          }
      #boton-competencias{
        font-size:large;
      }
    }
  
    #margen {
      padding-bottom:0px;
      margin-bottom:0px;
    }
    
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }
    



article a img {
  width: 200px;
}

article a {
  font-size: 10px;
}

footer{
  padding-top: 30px;
  background-color: #cabeca;
  border-top: #604da3;
  border-style: ridge;
border-width: 5px;
}

#servicios{
    font-family: 'Lora', serif;
    font-size: 1em;
    color:#000;
}
    .flex{
      display:flex;
      justify-content: center;
    }

    #contacto {
      text-align: center;
    }